DATABASE_URL="file:./dev.db"

WA_SESSION_ID="bobabot-main"

TG_BOT_TOKEN=""

DISCORD_BOT_TOKEN=""

API_PORT=3000
API_SECRET=""

API_LIMIT_MAX=10
API_LIMIT_WINDOW=60

BOT_LIMIT_MAX=5
BOT_LIMIT_WINDOW=10

BOT_PREFIX="!,.,/"
BOT_OWNER=""
BOT_NAME="Bobabot"

LOG_LEVEL="info"
NODE_ENV="development"
