DATABASE_URL="file:./dev.db"

WA_SESSION_ID="bobabot-main"

TG_BOT_TOKEN=""

DISCORD_BOT_TOKEN=""

API_PORT=3000
API_SECRET=""

BOT_PREFIX="!,.,/"
BOT_OWNER=""
BOT_NAME="Bobabot"

LOG_LEVEL="info"
NODE_ENV="development"
